:root {
  
  font-family: "poppins";
  
}

a {
  text-decoration: none;
  background-color: #2f2f2f;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  color:#ececec;
  cursor: pointer; 
  font-family: "poppins";
}





a:hover{
  scale: 1.015;
  transition: ease-in-out;
}

body {

  background-color: #ececec;
}

#hero-section-keyword{
  font-weight: bold;
}

#footer{
  position: absolute;
  bottom: 32px;
  left: 0;
  width: 100%;
  text-align: center;
}

p {
  font-size: 26px;
  font-weight: 400;
}

h1 {
  font-size: 5em;
  color:#2f2f2f;
  line-height: 1.1;
}

#separator {
  width:60%;
  background-color: #747474;

}

#palette-container {
  display:flex;
  flex-direction: column;
  gap:10px;
}

#homepage-desc{
  font-size:24px;
  margin-bottom:36px;
}

#palette-desc {
  font-size:16px;
  font-family: inter;
  color:#626262
}

#palette-displayer {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  border-radius: 16px;
}

#copy-palette{
  display:flex;
  align-items: center;
  cursor: pointer;
  
}
#copy-desc{
font-size: 16px;
  font-family: inter;
  
}

#copy-palette:hover{
  border-radius: 6px;
    background-color: #e0e0e0;
    padding-right: 14px;
}

#header{
  display:flex;
  gap:48px;
  align-items: center;
}

#logo{
  font-size:24px
}

.shade{
  height: 36em;
  width: 20em;
}

.shade:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}.shade:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.features{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  height:24em;
  gap:5px;
}

.shade:hover{
  cursor: pointer;
}

#fetchColor{
  text-decoration: none;
  background-color: #2f2f2f;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  color: #ececec;
  cursor: pointer;
  font-family: "poppins";
}

#copy:hover {
    padding:12px;
    filter: brightness(96%);
    border-radius: 6px;
    cursor:pointer;
}

#drag:hover {
    padding: 12px;
    filter: brightness(96%);
    border-radius: 6px;
    cursor: pointer;
}

#unlock:hover {
    padding: 12px;
    filter: brightness(96%);
    border-radius: 6px;
    cursor: pointer;
}

#copy {
  padding: 12px;
}

#drag {
  padding: 12px;
}

#unlock {
  padding: 12px;
}